@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Behold!!!</h1>
    <p>The wonder work of</p>
    <h2>WITT</h2>
    <h2>KONTANT</h2>
    <h3>&</h3>
    <h2>MARTINI</h2>
</div>
